.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header_navbar {
    display: flex;
    justify-content: space-between;
}

.header_navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
    display: flex;
}

.header_navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header_navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header_navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header_navbar-user-name {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header_navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: 100%;
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
}


.header_navbar-item--has-qr:hover .header_qr{
    display: block;
}

.header_navbar-item--has-notify:hover .header_notify {
    display: block;

}


.header_navbar-item,
.header_navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
}

.header_navbar-item,
.header_navbar-item-link,
.header_navbar-icon-link {
    display: flex;
    align-items: center;
}



.header_navbar-item:hover,
.header_navbar-icon-link:hover,
.header_navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header_navbar-item--strong {
    font-weight: 400;
}

/* Creat a straight line */
.header_navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header_navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header_navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header_navbar-tittle--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */

.header_qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header_qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    content:"";
    display: block;
}

.header_qr-img {
    width: 100%;
}

.header_qr-apps {
    display: flex;
    justify-content: space-between;
}

.header_qr-link:nth-child(1) {
    margin-left: 11px;
}

.header_qr-link:nth-child(2) {
    margin-right: 11px;
}

.header_qr-download-img {
    height: 16px;
}

/* Header Notification */

.header_notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100%-20px) top ;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    
}

.header_notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -28px;
}


@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header_notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header_notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header_notify-list {
    padding-left: 0;
}

.header_notify-item {
    display: flex;
}

.header_notify-item:hover {
    background-color: #f1f1f1;
}

.header_notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.06);
}


.header_notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    
}

.header_notify-img {
    width: 48px;
    object-fit: contain;
}

.header_notify-info {
    margin-left: 12px;
}

.header_notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header_notify-desciption {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}

.header_notify-footer {
    text-align: center;
}

.header_notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    display: block;
}

/* Authen modal */

.auth-form {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}

.auth-form_container {
    padding: 0 32px;
}

.auth-form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form_heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form_switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form_form {
   
}

.auth-form_input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form_input:focus {
    border-color: #888;
}

.auth-form_aside {
    margin-top: 16px;
}

.auth-form_policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form_text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form_controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form_controls-back {
    margin-right: 8px;
}

.auth-form_socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
  
.auth-form_socials-icon {
    font-size: 1.8rem;
}

.auth-form_socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form_socials--facebook
.auth-form_socials-icon {
    color: var(--white-color);
}

.auth-form_socials-title {
    margin: 0 24px;
}

.auth-form_socials--google {
    color: #666;
    background: var(--white-color);
}

.auth-form_help {
    display: flex;
    justify-content: flex-end;
}

.auth-form_help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form_help-separate {
    display: block;
    height: 22px;
    margin: 0 16px;
    border-left: 1px solid #EAEAEA;
}

.auth-form_help-forgot {
    color: var(--primary-color);
}

/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header_logo {
    width: 200px;
    
}

.header_logo-img {
    width: 150px;
    
}

.header_search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header_cart {
    width: 150px;
    text-align: center;
}

.header_cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header_cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header_cart-wrap:hover .header_cart-list {
    display: block;
}

.header_cart-list {
    position: absolute;
    top: calc(100% + 4px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
}


.header_cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header_cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header_cart-item {
    display: flex;
    align-items: center;
}

.header_cart-item:hover {
    background-color: #F8F8F8;
}

.header_cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header_cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header_cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

.header_cart-item-price {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header_cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header_cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header_cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header_cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header_cart-item-remove {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 300;
}

.header_cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header_cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header_cart-view-cart:hover {
    background-color: #F05D41;
}


/* Triangle */
.header_cart-list::after {
    content: "";
    position: absolute ;
    right: 6px;
    top: -23px;
    border-width: 16px 20px;
    border-style: solid;
    border-color:  transparent transparent var(--white-color) transparent ;
   
}

.header_cart-list--no-cart {
    padding: 24px 0;
}

.header_cart-list--no-cart .header_cart-no-cart-img,
.header_cart-list--no-cart .header_cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header_cart-no-cart-img {
    width: 80%;
    display: none;
}

.header_cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header-cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 6px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header_search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header_search-input {
    width: 100%;
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}


.header_search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    
}

.header_search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header_search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;

}

.header_search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    radius: 2px;
    margin-right: 3px;
}

.header_search-btn:hover {
    cursor: pointer;
    background-color: #ec593c;
}


.header_search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header_search-select:hover
.header_search-option {
    display: block;
}
 

.header_search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 150px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

/* Build Bridge */
.header_search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    /* background-color: red; */
    position: absolute;
    top: -10px;
    left: 0;
}
/* End Bridge */


.header_search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
}

.header_search-option-item:first-child {
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}

.header_search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.header_search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header_search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header_search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header_search-option-item--active i {
    display: inline-block;
}

.header_search-input:focus ~ .header_search-history {
    display: block;
}

/* Search History */

.header_search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
}

.header_search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header_search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header_search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header_search-history-item:hover {
    background-color: #fafafa;
}

.header_search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

.